<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Chat Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="chatApp.css" />
</head>

<body>
    <div class="container">
        <div>
            <h1>Chat App</h1>
        </div>
        <ul id="userlist"></ul>
        <div class="chat-messages">
            <div class="message">
                <p class="meta"> <span></span></p>
                <p class="text">
                    
                </p>
            </div>
        </div>
        <div class="chat-form-container">
            <form id="chat-form">
                <input type="text" id="msg" placeholder="enter message" autocomplete="off" required>
                <button class="btn" id="add-chat">send</button>
            </form>
        </div>
    </div>
    <button id="log">Leave Chat</button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="/chatApp.js"></script>
</body>

</html>