<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <h1>Welcome to Chat-APP</h1>
    <div id="container">
        <h2>Signup here</h2>
    <form action="" method="post" id="form">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email Id</label>
        <input type="email" id="email" name="email" required>
        
        <label for="phno">Phone Number</label>
        <input type="number" id="phno" name="phno">
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        
        <button> SIGN UP</button>
    </div>

    </form>
    
</body>
</html>